.Title {
  text-align: center;
  margin-top: 5rem;
}
.title__subtitle {
  letter-spacing: 1.8px;
  color: var(--color-primary);
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 1rem;
}
.title__main-title {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 2rem;
  color: var(--color-primary);
  text-shadow: 0 0 2rem var(--color-primary);
}
